<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <p>@ViewBag.Title</p>
        <p>Something</p>
    </header>
    <div id="Sidebar">
        <ul>
            <li><a href="~/home" />Main Page</a></li>
            <li>Recent Changes</li>
            <li>Admin Noticeboard</li>
            <li>Random Page</li>
        </ul>
    </div>
    <div id="MainBody">
        @RenderBody()
    </div>
</body>
</html>
