<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="Sidebar">
        <ul>
            <li>Main Page</li>
            <li>Recent Changes</li>
            <li>Admin Noticeboard</li>
            <li>Random Page</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
